


#body {
    color: #333;
    font-size: 14px;
    margin: 0 auto 70px;
    width: 1000px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#body h2 {
    color: #f60;
    font-size: 22px;
    padding: 40px 0 30px;
    text-align: center;
}
#body * {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

#body .notice {
    line-height: 20px;
    padding-bottom: 25px;
    text-align: center;
}
#body * {
    box-sizing: border-box;
}

#body form {
    margin: 0 auto;
}


#body form .input {
    overflow: hidden;
    padding-bottom: 30px;
}

#body form .input label {
    float: left;
    line-height: 40px;
    margin-right: 20px;
    text-align: right;
    width: 80px;
}


#body form .input p {
    float: left;
    position: relative;
    width: 300px;
}

#body form #telerr{
	position:absolute;
	width:200px;
	top:10px;
	left:310px;
}


#body form .input #code {
    width: 170px;
}
#body form .input input {
    width: 300px;
}
#body form .input button, #body form .input input {
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#body form .input #send_verify_code {
	position:absolute;
	margin-left:10px;
    width: 120px;
}
#body form .input button {
    background-color: #f60;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}


#body form .input span {
    color: red;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 43px;
}


#body form .action {
    padding-left: 100px;
}

#body form .action button {
    background-color: #f60;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    width: 300px;
}


#body .success strong {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}


#body .success b {
    color: #a9a9a9;
    display: block;
    margin: 100px 0 20px;
}


#body .success button {
    background-color: #f60;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 20px;
    width: 300px;
}
element.style {
    display: none;
}
#body .success {
    text-align: center;
}
#body {
    color: #333;
    font-size: 14px;
}
body {
    color: #333;
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

