/*块级内容*/
.n-log {
	padding: 30px 0 43px;
	width: 220px;
	margin: 0 auto;
}

.n-log .ipt {
	width: 206px;
	height: 30px;
	margin: 0;
	padding: 5px 6px 6px;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	line-height: 19px;
}

.n-log .mgt-1 {
	margin-top: 10px;
	color: #666;
}

.n-log .mgt-2 {
	margin-top: 20px;
}

.n-log .err {
	height: auto;
	line-height: 18px;
	margin-top: 5px;
	color: #e33232;
}

.n-log .err i {
	width: 14px;
	height: 14px;
	margin: -2px 8px 0 0;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	background: url(../images/icon.png) -50px -270px no-repeat;
}

.u-au {
	margin: -2px 4px 0 0;
	vertical-align: middle;
}

.forget {
	float: right;
	color:#666;
}

.n-log .mgt-2 {
	margin-top: 20px;
}

.u-dl, .u-dl i {
	color: #fff;
	display: inline-block;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
}

.u-dl {
	width: 215px;
	background: url(../images/button2.png) right -428px no-repeat;
	padding: 0 5px 0 0;
}

.u-dl i {
	width: 180px;
	background: url(../images/button2.png) 0 -387px no-repeat;
	padding: 0 15px 0 20px;
}

.u-dl:hover {
	background: url(../images/button2.png) right -510px no-repeat;
}

.u-dl:hover i {
	background: url(../images/button2.png) 0 -469px no-repeat;
}

.auto {
	position: fixed;
	z-index: 9998;
	width: 530px;
	border-radius: 4px;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
	border: none;
	background: #fff;
}

.auto-1 {
	z-index: 1001;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 1350px;
	height: 668px;
}

.auto .bar {
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #191919;
	border-radius: 4px 4px 0 0;
	background: #2d2d2d;
	cursor: move;
}

.auto .cnt {
	padding: 0;
	border: 1px solid #878787;
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	background: #fff;
}

.auto .cls {
	position: absolute;
	z-index: 20;
	top: 16px;
	right: 20px;
	width: 10px;
	height: 10px;
	overflow: hidden;
	cursor: pointer;
	text-indent: -9999px;
	background: url(../images/layer.png) 0 -95px no-repeat;
}

.auto .tt {
	margin: 0;
	height: 38px;
	line-height: 38px;
	padding-left: 18px;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

.cnt .con {
	padding: 0;
}

.con-t {
	padding: 40px 0 39px;
	height: 207px;
}

.con-b {
	padding: 0 19px;
	height: 48px;
	border-top: 1px solid #c6c6c6;
	border-radius: 0 0 4px 4px;
	line-height: 48px;
	background: #f7f7f7;
	clear: both;
}

.con-a{
	float:right;
	color:#999;
}

#yzm,#zcnc{
	float:left;
	width:122px;
	height:30px;
	margin-top:20px;
	margin-bottom:20px;
	padding:5px 6px 6px;
	border:1px solid #CDCDCD;
	border-radius:2px;
	line-height:18px;
}

.f-hide{
	float:right;
	margin-top:20px;
	margin-bottom:20px;
	width:73px;
	height:31px;
	border:1px solid #CDCDCD;
	border-radius:3px;
	text-align:center;
	font-size:12px;
	line-height:29px;
	color:black;
	background-color:#fff;
	cursor: pointer;
}




/*文章内容*/
article {
	width: 100%;
	background-color: #FFF;
}

/*上方内容*/
#banner {
	width: 100%;
	height: 338px;
	background: url(../images/1.jpg) repeat-x;
	position: relative;
	transition: 1s ease-out;
}

#banner_t {
	height: 100%;
	margin: -2px 0px 0px 239px;
	float: left;
}

#ban_ul {
	position: absolute;
	bottom: 10px;
	left: 470px;
	padding: 0px;
	margin: 0px;
}

#ban_ul li {
	width: 10px;
	height: 15px;
	margin-right: 0px;
	float: left;
	background: url(../images/banner.png) 0px -345px no-repeat;
}

#ban_ul li.li_out {
	background: url(../images/banner.png) 0px -345px no-repeat;
}

#ban_ul li.li_over {
	background: url(../images/banner.png) -20px -345px no-repeat;
}

#d1 {
	width: 37px;
	height: 62px;
	background: url(../images/banner.png) 0px -361px;
	position: absolute;
	top: 137px;
	left: 128px;
}

#d1:hover {
	background: url(../images/banner.png) 0px -431px;
}

#d1 a, #dr a {
	display: block;
	width: 100%;
	height: 100%;
}

#dr {
	width: 37px;
	height: 62px;
	background: url(../images/banner.png) 0px -510px;
	position: absolute;
	top: 137px;
	right: 128px;
}

#dr:hover {
	background: url(../images/banner.png) 0px -580px;
}



/*下方内容*/
.bottomdiv {
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

/*左下方内容*/
.bottom_left {
	width: 300px;
	height: 380px;
	float: left;
	background-color: #FFF;
}

.bottom_left span {
	font-size: 14px;
	color: #188ef2;
	font-weight: bold;
	margin: 0 0 10px 10px;
}

.bottom_left hr {
	border: 1px solid #0488ef;
	margin-top: 7px;
}

.bottom_left ul {
	width: 90%;
	height: 90%;
}

.bottom_left ul li {
	float: left;
	padding: 5px 5px;
	background: #B0A7C4;
	border: 1px solid #DDD9DA;
	border-radius: 6px;
	margin: 10px;
}

.bottom_left ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.bottom_left a:hover {
	color: #7683A3;
}

/*右下方内容*/
.bottom_right {
	width: 670px;
	height: 380px;
	float: right;
}

.bottom_right .right_span {
	font-size: 14px;
	color: #188EF2;
	font-weight: bold;
	margin: 0 0 10px 10px;
}

.bottom_right .more_class {
	font-size: 14px;
	font-weight: bold;
	color: #188EF2;
	float: right;
	margin-right: 20px;
}

.bottom_right hr {
	border: 1px solid #0488EF;
	margin-top: 7px;
}

.bottom_right ul {
	width: 90%;
	height: 100%;
}

.bottom_right ul li {
	width: 90%;
	border-bottom: 1px dashed #8dc4f8;
	line-height: 316%;
	margin: 0 10px;
}

.bottom_right ul li a {
	color: #3496F2;
	background: url(../images/CD.png) no-repeat left center;
	padding-left: 20px;
}

.bottom_right ul li a:hover {
	color: #FF9933;
}

.bottom_right ul li a span {
	/*如何使行级标签拥有块级标签的属性*/
	display: inline-block;
	float: right;
	color: #919191;
}