article {
	width:100%;
	background: #fff;
}

.main{
	width:90%;
	height:230px;
	padding-top:25px;
}

.main dt{
	float:left;
	width:30%;
}

.main dt img{
	width:150px;
	height:150px;
	margin:25 0 0 60px;
	background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    display: block;
    padding: 3px;
}

.main dd{
	float:right;
	width:70%;
	height:200px;
	position: relative;
}

.main dd .ztop{
	width: 100%;
	height: 60px;
}

.main dd .gn{
	float:left;
	margin-top:25px;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
}

.main dd .gn img{
	width:36px;
	height:36px;
	position:absolute;
	margin-left:6px;
	margin-top:-5px;
}

.main dd .edit{
	float: right;
	margin:30px 40px 0 0 ;	
	background:#F9F9F9;
	padding:5px 8px 5px 8px;
	border:1px  #666 solid;
	border-radius:4px;
	cursor: pointer;
	font-size:12px;
	color: #666;
}

.main dd .edit:hover{
	background:#FFFFFF;
}

.main dd hr{
	width:585px;
	position:relative;
	top:75px;
	left:-100px;
	border:1px solid #ddd;
}

.main .zmut{
	width:100%;
	height:50px;
	margin-top: 30px;
	margin-left: -10px;
}

.main .zmut li{
	float: left;
	width:75px;
	height:50px;
}

.main .zmut li a{
	color: #666666;
}

.main .zmut .dong{
	border-right:2px solid #ddd;
}

.main .zmut .fans{
	border-left:2px solid #ddd;
}

.main .zmut li a strong{
	float:left;
	font-size:24px;
	font-weight: normal;
	margin:-8px 0 0 16px;
}

.main .zmut li a span{
	clear: both;
	position:relative;
	top:25px;
	left:-16px;
}

.main .zbot{
	color: #666666;
	margin-top: 10px;
}

.main .zbot #s_showSpan{
	position: absolute;
	top:100px;
}

.main .zbot p{
	margin-top:5px;
}

.main  #addguan{
	background:#fff;
	padding:2px 3px;
	border:#ccc solid 1px;
	position: absolute;
	left:200px;
	top: 25px;
}

.gedan,.dongtai,.follow{
	width:90%;
	margin-top: 25px;
	padding-bottom:50px;
}

.gedan span,.dongtai span,.follow span{
	font-size:22px;
	font-weight: normal;
	position: relative;
	top:10px;
	color: #333333;
}

.gedan .xians{
	margin-top:20px;
	width:100%;
	border-top: 2px #C20C0C solid; 
}

.gedan .xians .ti{
	color: #333;
	font: 16px;
	margin: 2px 0 0 40px;
}

.gedan .xians img{
	width:140px;
	height:140px;
	margin:30px 0 0 25px;
}

.dongtai .dongs .del{
	position: absolute;
	left:830px;
	cursor: pointer;
}

.add{
	position:absolute;
	left:1050px;
	font-size: 30px;
}

.dongtai .dongs{
	margin-top:20px;
	width:100%;
	border-top: 2px #C20C0C solid; 
}



.dongtai .dongs img{
	width:45px;
	height:45px;
}

.dongtai .dongs ul{
	width:98%;
	margin-top: 15px;
}

.dongtai .dongs li{
	margin-top: 25px;
	position: relative;
}

.dongtai .dongs a{
	color: #808040;
	position:absolute;
	top:18px;
	left:80px;
}

.dongtai .dongs a:HOVER{
	color:black;
	text-decoration: none;
}

.dongtai .dongs span{
	color: black;
	font-size:12px;
	float: right;
	margin-right:50px;
}

.follow .focu{
	margin-top:20px;
	width:100%;
	border-top: 2px #C20C0C solid; 
}

.follow .focu ul{
	margin-left:20px;
	width: 100%;
	height:240px;
}

.follow .focu ul li{
	width:46%;
	height:80px;
	float: left;
	margin-left:5px;
	margin-top: 25px;
	position: relative;
	border:1px #cdcdcd solid;
}

.follow .focu ul img{
	width:60px;
	height:60px;
	margin:10px 0 0 10px;
}

.follow .focu ul span{
	color: #808040;
	font-size: 20px;
	position: absolute;
	top:20px;
	left:80px;
}