article {
	width: 100%;
	height: 600px;
	background: #fff;
}

.n-base .area {
	height: 122px;
}

.n-base .txt, .n-base .area {
	width: 308px;
}

textarea.u-txt, div.u-txt {
	margin-right: 0px;
	width: 100%;
}

.u-txt {
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	height: 19px;
	line-height: 19px;
	margin: 0;
	padding: 5px 6px 6px;
}

textarea {
	overflow: auto;
	resize: none;
}

.m-tabs a.z-slt em {
	background-position: right -90px;
}

.u-txtwrap .zs {
	float: right;
	bottom : 8px;
	position: absolute;
	color: #d0d0d0;
	left: 30px;
}

.year {
	width: 300px;
	height: 40px;
	float: left;
	margin-top: 20px;
	margin-left: -15px;
}

.diqu {
	width: 250px;
	height: 40px;
	bottom: 65px;
	position: absolute;
	left: 0px;
	margin-left: -3px;
}

.ft {
	width: 50px;
	height: 30px;
	bottom: 0px;
	position: absolute;
	left: 0px;
	margin-left: 0px;
}

.avatar {
	width: 146px;
	height: 140px;
	position: absolute;
	top: 40px;
	right: 300px;
}

.avatar img {
	width: 140px;
	height: 140px;
}

.upload{
	visibility: visible;	
}

.avatar a:hover {
	text-decoration: underline;
}

.u-btn2-w2 i {
	width: 40px;
}

.u-btn2-2 i {
	background-position: 0 -387px;
	color: #fff;
}

.u-btn2 i {
	padding: 0 15px 0 20px;
	pointer-events: none;
}

.m-tabs em {
	cursor: pointer;
	height: 37px;
	line-height: 37px;
	padding: 2px 2px 0 0;
	text-align: center;
	width: 134px;
}

.m-tabs a.z-slt em {
	background: url(../images/tab.png) right -90px;
}

.m-tabs li, .m-tabs a, .m-tabs em {
	float: left;
	font-size: 14px;
	height: 39px;
}

.n-base {
	padding-top: 30px; width : 90%;
	height: 400px;
	position: relative;
	width: 90%;
}

[hidefocus] {
    outline: medium none;
}